.label {
    font-weight: 500;
    font-size: 1.1em;
    margin: 0 0 5px 3px;
}

.form-control {
    font-size: 17px;
    padding: 7px 10px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 1px 2px var(--app-dark);
}

.form-control:focus {
    border: none;
    background-color: transparent;
    box-shadow: 0 2px 8px var(--app-dark);
}

.success {
    background-color: var(--app-success);
    padding: 15px;
    margin: 20px;
    border: 1px solid var(--app-dark-success);
    color: var(--app-dark-success);
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.error {
    color: var(--app-error);
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}

.button {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 4px 10px;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
}

.page-item {
    background-color: var(--app-patient);
}