@import './base.css';

:root {
    --app-doctor: #28a745;
    --app-patient: #1E90FF;
    --app-light-patient: #b2d7fd;
    --app-dark-patient: #1a7ada;
    --app-mid-background: #e9e9e9;
    --app-light-background: #f3f3f3;
    --app-link: #0A58CA;
    --app-success: #c4ffd2;
    --app-dark-success: #117228;
    --app-danger: #ff0000;
    --app-error: #c90000;
    --app-light: #ffffff;
    --app-dark: #000000;
}