.reset-container {
    background-color: var(--app-light-background);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reset-container form {
    padding: 50px 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.button {
    background-color: var(--app-patient);
    color: var(--app-light);
}

.button:hover {
    background-color: var(--app-light);
    color: var(--app-patient);
    box-shadow: 0 4px 8px var(--app-patient);
}

@media (min-width: 992px) {
    .reset-container form {
        padding: 50px 300px;
    }
}