main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.fa-arrow-left {
    font-size: 1.5em;
    background-color: var(--app-patient);
    color: var(--app-light);
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.fa-arrow-left:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 8px var(--app-patient);
    background-color: var(--app-light-patient);
}

h1 {
    font-size: 2.2em;
    text-transform: uppercase;
    margin-bottom: 25px;
}

form {
    border-radius: 25px;
    box-shadow: 0 2px 8px var(--app-dark);
    padding: 50px 30px;
    width: 80%;
}

.button-container {
    display: flex;
    justify-content: end;
    margin-top: 40px;
}

.button {
    background-color: var(--app-patient);
    color: var(--app-light);
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    box-shadow: 0 2px 8px var(--app-dark-patient);
    background-color: var(--app-light-patient);
    transform: scale(1.1);
}

@media (min-width: 768px) {
    form {
        width: 60%;
    }
}